/* Stylesheet for the application */
:root {
    --fog-blue: #013D7A;
    --fog-offwhite: #E9E9E9;
    --fog-white: #ffffff;
}

*{
    font-family: "Segoe UI";
}


html, body{
    margin: 0;
    padding: 0;

}
.login-blue{
    background-color: var(--fog-blue);
    height: 100vh;
    overflow:hidden;
    text-align: center;
}

.login-field{
    margin:auto;
    margin-top: 5em;
    background-color: var(--fog-offwhite);
    justify-content: center;
    max-width: 30em;
    padding:3.5em;
}

.login-field > h1 {
    font-size: 48px;
}

.auth-form > input{
    margin: 1%;
    width: 80%;
    padding:0.5em;
    border: 0;
    border-radius: 5px;
}

.auth-form > button, .button{
    background-color: var(--fog-blue);
    color: var(--fog-white);

    display: block;
    margin: auto;
    margin-top: 3em;
    padding:1em;

    width: 10em;
    border: 0;
    border-radius: 5px;

    font-size: 16px;
    text-decoration: none;

}