<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Skift password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="login-blue">
  <div class="login-field">
    <img src="../public/images/Fog_logo.png" alt="Fog">
    <h1>Skift password</h1>
    <!-- Hvis bruger er logget ind -->
    <div class="logged-in-info">
      <p>Logget ind som: <strong th:text="${email}">[email]</strong></p>
    </div>
    <!-- Hvis bruger ikke er logget ind -->
    <div class="auth-form-wrapper">
      <form action="/changePassword" method="post" class="auth-form">
        <input type="password" name="password" placeholder="Adgangskode" required><br>
        <input type="password" name="password-repeat" placeholder="Gentag adgangskode" required><br>
        <p th:if="${error}" th:text="${error}" class="error"></p>
        <button type="submit">Skift password</button>
      </form>
    </div>
    <div class="log-out-info">
      <a href="/logout" class="button">Log ud</a>
    </div>
  </div>

</div>
</body>
</html>