<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunder</title>
    <link rel="stylesheet" href="/public/css/styles.css" th:href="@{/public/css/styles.css}">
</head>
<!-- Customer Overview page -->
<body>
<div class="costumer-background">
    <header>
        <div class="customer-header">
            <a href="index.html" th:href="@{/}">
                <img src="../public/images/Fog_logo.png" alt="Fog">
            </a>
            <h4>Byg selv carport</h4>
            <div th:if="${user != null}" class="customer-overview-dropdown">
                <button class="customer-profile-dropdown" th:text="${user.email.substring(0,1).toUpperCase()}">A</button>
                <div class="customer-dropdown-content">
                    <a th:href="@{/customer-overview}">Kunder</a>
                    <a th:href="@{/orders}">Ordrer</a>
                    <a th:href="@{/logout}">Log ud</a>
                </div>
            </div>
        </div>
    </header>
    <div class="customer-box">
        <h1>Kunder</h1>
    </div>
    <div class="customer-pageview">
        <table class="customer-table" th:if="${customers != null}">
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Email</th>
                <th>Tlf. nummer</th>
                <th>Salgsrep</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.fullname}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td>
                    <span th:if="${customer.salesRep != null}" th:text="${customer.salesRep.email}"></span>
                    <form th:unless="${customer.salesRep != null}" th:action="@{/customer-overview}" method="post">
                        <input type="hidden" name="customerId" th:value="${customer.id}" />
                        <input type="hidden" name="salesRepId" th:value="${session.user.id}" />
                        <button class="customer-add-salesrep-button" type="submit">+</button>
                    </form>
                </td>
            </tr>
        </table>
        <div th:if="${customers != null}" >
            <div class="customer-display-box-mobile" th:each="customer : ${customers}">
                <h1 th:text="@{'ID: ' + ${customer.id}}">ID</h1>
                <h3 th:text="@{'Navn: ' + ${customer.fullname}}">Navn</h3>
                <h4  th:text="@{'Email: ' + ${customer.email}}">Email</h4>
                <h4 th:text="@{'Tlf. nummer: ' + ${customer.phoneNumber}}">Tlf Nummer</h4>
                <div class="customer-display-box-mobile-salesrep">
                    <span th:if="${customer.salesRep != null}" th:text="${customer.salesRep.email}"></span>
                    <form th:unless="${customer.salesRep != null}" th:action="@{/customer-overview}" method="post">
                        <input type="hidden" name="customerId" th:value="${customer.id}" />
                        <input type="hidden" name="salesRepId" th:value="${session.user.id}" />
                        <button class="customer-add-salesrep-button" type="submit">+</button>
                    </form>
                </div>
            </div>
        </div>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </div>
</div>
</body>
</html>