<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="login-blue">
  <div class="login-field">
    <img src="../public/images/Fog_logo.png" alt="Fog">
    <h1>Log på</h1>
    <!-- Hvis bruger er logget ind -->
    <div th:if="${email != null}" class="logged-in-info">
      <p>Logget ind som: <strong th:text="${email}">[email]</strong></p>
        <a href="/logout" class="button">Log ud</a>
    </div>
    <!-- Hvis bruger ikke er logget ind -->
    <div th:if="${email == null}" class="auth-form-wrapper">
      <form action="/login" method="post" class="auth-form">
        <input type="email" name="email" placeholder="Mailaddresse" required><br>
        <input type="password" name="password" placeholder="Adgangskode" required><br>
        <!-- restorepassword -->
        <div class = "left-aligned"><a href="/" >Har du glemt din adgangskode?</a></div>
        <p th:if="${error}" th:text="${error}" class="error"></p>
        <button type="submit">Log på</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>