<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kunder</title>
    <link rel="stylesheet" href="/public/css/styles.css" th:href="@{/public/css/styles.css}">
</head>
<body>
<div class="costumer-background">
    <header>
        <div class="customer-header">
            <a href="index.html" th:href="@{/}">
                <img src="../public/images/Fog_logo.png" alt="Fog">
            </a>
            <h4>Byg selv carport</h4>
            <div class="customer-overview-dropdown">
                <button class="customer-profile-dropdown" th:text="${email.substring(0,1).toUpperCase()}">A</button>
                <div class="customer-dropdown-content">
                    <a th:href="@{/customer-overview}">Kunder</a>
                    <a th:href="@{/}">Ordre</a>
                    <a th:href="@{/logout}">Log ud</a>
                </div>
            </div>
        </div>
    </header>
    <div class="customer-box">
        <h1>Order</h1>
    </div>
    <div class="customer-pageview">
        <table class="customer-table" th:if="${orders != null}">
            <th>Rediger</th>
            <th>Oprettet</th>
            <th>Id</th>
            <th>Kunde</th>
            <th>Status</th>
            <th>Længde</th>
            <th>Bredde</th>
            <th>Pris</th>
            <th>Bemærkning</th>
            <tr th:each="order : ${orders}">
                <td><a th:href="@{/orders/manageOrder{id}(id=${order.id})}">text</a></td>
                <td th:text="${order.createdAt}">Oprettet</td>
                <td th:text="${order.id}">ID</td>
                <td th:text="${order.customerid}">Kunde</td>
                <td th:text="${order.status}">Status</td>
                <td th:text="${order.lengthCm}">Længde</td>
                <td th:text="${order.widthCm}">Bredde</td>
                <td th:text="${order.total}">Pris</td>
                <td th:text="${order.comments}">Bemærkning</td>
            </tr>
        </table>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
    </div>
</div>
</body>
</html>